<div id="user_header">
  <% if logged_in? %>
     <%= link_to 'Logout', session_path('bogus-id'), method: :delete %>
  <% else %>
     <%= link_to "Sign Up", signup_path %>
     <%= link_to "Log In", login_path %>
  <% end %>
</div>


<h1>Subreddits</h1>
<% @subreddits.each do |s| %>
    <p><%= link_to s.title, s %></p>
<% end %>

<%= form_for(@subreddit) do |f| %>
    <p>Create New Subreddit:</p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>

<h1>Posts</h1>
<p>Total Posts: <%= @posts.count %></p>
<% @posts.each do |p| %>
    <p><%=p.id %>. <%= link_to p.title, subreddit_post_path(p.subreddit, p) %></p>
    <p><%= p.body %></p>
    <p> Subreddit: <%= link_to p.subreddit.title, subreddit_path(p.subreddit, p) %></p>
<% end %>
