<p>
    <p class ="to-the-right right-border">
        <% if session[:user_id] == @post.user.id %>
            <%= link_to "Edit Post", edit_subreddit_post_path(@post.subreddit, @post) %>
            <%= link_to "Delete Post", subreddit_post_path(@post.subreddit, @post), method: :delete %>
        <% end %>
    </p>

        <h1 id="title"> <%= @post.title %> </h1>
        <div class="post-box">
            <div class="to-the-right">Created: <%= @post.created_at %></div>
            <p><%= @post.body %></p>
        </div>

    <p>
    <div class="invisible-border">
        <% if logged_in? %>
                <%= form_for [@post, @comment] do |f| %>
                    <%= f.text_area :body %>
                    <%= f.submit %>
                <% end %>
        <% else %>
            <p>Log in to Create Posts</p>
        <% end %>
    </div>
</p>
    <div class="invisible-border">
        <% @post.comments.reverse.each do |c| %>
            <p>
                <p class ="to-the-right">
                    <% if session[:user_id] == c.user_id && logged_in? %>
                        <%= link_to "Edit Comment", post_comments_path(c.post, c) %>
                        <%= link_to "Delete Comment", post_comments_path(c.post, c), method: :delete %>
                    <% end %>
                </p>
                <%= c.body %>

                <% if @post.comments.count > 0 %>
                <%= pluralize(@post.comments.count, "comment") %>
                    <div class="to-the-right">
                        Created: <%= c.created_at %> by:
                    </div>
                <% else %>
                    <p>No Comments</p>
                <% end %>
            </p>
        <% end %>
    </div>
